@charset "utf-8";

/* =======================================

	BaseElements(Reset)

======================================= */


html, body, div, h1, h2, h3, h4, h5, h6, p,
header, section {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

body {
    background: #2b2b8d;
    font-family:"游ゴシック体","Yu Gothic Medium", "Yu Gothic", "YuGothic","ヒラギノ角ゴ ProN W3","Hiragino kaku Gothic ProN","メイリオ","Meiryo","Osaka","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    line-height:1.95;
    font-feature-settings: "palt" 1; /*カーニング設定*/
}

a, button {
    cursor: pointer;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}


.pattern {
background-color: #2b2b8d;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%233e3ea5' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}



h1 {
    width:470px;
    margin: 0 calc((100% - 570px) / 2);
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 108px;
    line-height:0.85;
    color: #fff;
    text-align: center;
    background-image: url(../img/girl.png);
    background-repeat:no-repeat;
    background-size:105px;
    background-position: right 0 , center;
    text-transform:none;
}


.header-content {
    position: relative;
    padding: 116px 0 64px 0;
    text-align: center;
}

.header-content p {
    font-size: 16px;
    margin-top: 32px;
    font-size: 22px;
    font-weight: bold;
    color:#ffff00;
    text-align: center;
}


.bg-primary {
    width:1000px;
    margin: 0 calc((100% - 1000px) / 2);
    padding:32px 0 116px 0;
    margin-bottom:126px;
    background-color: #5654a2;
    text-align: center;
    border-radius: 20px;
}



.btn {
    border: 0;
    border-radius: 64px;
    height:64px;
    width:312px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    background-color:#ffff00;
    color:#171774;
    box-shadow: 0 8px #ffc000;
    margin-top:40px;
}


#shuffle_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }

#box {
    padding-right:32px;
    float:right;
}

#timer {
    background-color:#eff1f9;
    width:148px;
    height:64px;
    font-family: "Barlow",sans-serif;
    font-weight: 600;
    padding:0 10px 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 8px;
    color:#171774;
    background-image: url(../img/timer-icon2.svg);
    background-repeat:no-repeat;
    background-size:40px;
    background-position: top 14px left 10px , center;
}

/*/////////////////////////////  for SP  //////////////////////////////*/

@media screen and (max-width: 720px) {
    
    h1 {
        font-size: 88px;
        width:380px;
        margin: 0 calc((100% - 465px) / 2);
        background-size:85px;
        text-transform:none;
    }
    
    .header-content {
        padding:16vw 0 40px 0;
    }


    .header-content p {
        font-size: 24px;
        width:70%;
        margin: 0 auto;
        line-height:1.3;
        padding-top:32px;
    }
    
    .bg-primary {
        width:94%;
        padding:9vw 0 12vw 0;
        margin: 0 auto;
        margin-bottom:104px;
    }
    .btn {
        margin-top: 24px;
    }
    
    #box {
        padding-bottom:24px;
        float:none;
        padding-left:25%;
    }
    

}

